// http://chir.ag/projects/name-that-color/
$black: #000;
$hero-shadow: rgba(0, 0, 0, 0.76);
$red: #ed3104;
$red-shaft: hsla(18, 75%, 28%, 0.342);
$orange: #ff9001;
$green: #ff9001;
$lime: #b0eb00;
$limeade: #47B701;
$dark-limeade: rgba(0,255,0,.2);
$bitter-leamon: #DAE206;
$bright-red: #b30015;
$dark-blue: #2a00b3;
$deep-cerulean: #0077b3;
$bondi-blue: #00b0b3;
$cyan: #24fbff;
$heliotrope: #8a7dff;
$silver-chalice: #a6a6a6;
// $tranz-silver: #131111cc;
$alto: #cecece;
$scorpion: #595959;
$tundora: #444;
$mine-shaft: #363636;
$cape-cod: #3f4542;
$woodsmoke: #171819;
$cod-gray: #111;
$mint-cream: #F5FFFA;
$aqua-haze: #E9F1EF;
$power-ash: #bcc9c2;
$granny-smith: #849B9B;
$transparent: rgba(187, 204, 194, 0);

/*TRANSITION*/
$t-out: all .2s ease-in-out;